@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, sans-serif;
}

header {
    padding: 25px;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    a {
        display: block;
    }
}

h1{
    font-size: 35px;
    margin: 0 auto;
}

h1, h3, button{
    font-family: var(--primary-font);
}

main {
    margin: 0 auto;
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-align: center;
  }
  a:link,
  a:visited {
    color: var(--accent-color);
  }

.gallery img {
	max-width: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: 5px solid white;
    /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 2px 2px 2px var(--text-dark);
    /* inset 0 -3em 3em rgba(20, 20, 20, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(35, 32, 32, 0.6); */
}

.menu-button {
    all: unset;
}

nav {
    font-size: 1.2em;
    display: block;
    text-indent: 10px;
}

.hide {
	display: none;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    font-family: var(--primary-font);
    font-size: 1.2em;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    
}

.viewer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 100%;
    padding-top: 100px;
    img {
        grid-row: 2/3;
        grid-column: 2/3; 
        max-height: 25%;
    }
}

.close-viewer {
    all: unset;
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: 25px;

    color: white;

}



@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* nav {
        display: none;
    } */
  }

  @media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-button {
        display: none;
    }

    nav {
        display: inline-flex;
    }

    .viewer {
        margin: 100px;
        margin-left: 400px;
        margin-right: 400px;
        img {
            padding-bottom: 150px;
        }
        
    }
  }